#Filter Operations
<hr>

In [ ]:
# Installation of pyspark package
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 55.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=68d30816feb3fb585b1a464735623bf4f854296c6495af14f426f107fe36e518
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
# creating spark session
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Filter").getOrCreate()
spark

In [ ]:
# Reading dataset using pyspark
spark_df = spark.read.csv("dataset.csv", header=True, inferSchema=True)

In [ ]:
# Fetching first 5 rows to glance 
spark_df.show(5)

+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+------------------+
| Gender|Age|Study_year|Living|Scholarship|Part_time_job|Transporting|Smoking|Drinks|Games_&_Hobbies|Cosmetics_&_Self-care|Monthly_Subscription|Monthly_expenses_$|
+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+------------------+
|Female | 21|         2|  Home|         No|           No|          No|     No|    No|             No|                  Yes|                  No|               150|
|  Male | 25|         3|Hostel|         No|          Yes|  Motorcycle|     No|    No|            Yes|                  Yes|                 Yes|               220|
|  Male | 23|         2|  Home|        Yes|           No|          No|     No|    No|             No|                   No|                null|               180|
|  Male | 19|         3|Hostel|         No|           No|  Motorcycle|     No|    No|            Yes|                  Yes|                 Yes|               200|
|Female | 19|         2|  Home|         No|           No|  Motorcycle|     No|    No|             No|                  Yes|                  No|               300|
+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+------------------+
only showing top 5 rows

In [ ]:
# Getting a descriptive statistics
spark_df.describe().show()

+-------+-------+------------------+------------------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+------------------+
|summary| Gender|               Age|        Study_year|Living|Scholarship|Part_time_job|Transporting|Smoking|Drinks|Games_&_Hobbies|Cosmetics_&_Self-care|Monthly_Subscription|Monthly_expenses_$|
+-------+-------+------------------+------------------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+------------------+
|  count|    105|               105|               101|   103|        105|          100|          91|     94|    92|            105|                   92|                  96|                99|
|   mean|   null| 20.17142857142857|2.6534653465346536|  null|       null|         null|        null|   null|  null|           null|                 null|                null|214.94949494949495|
| stddev|   null|1.8986692853009064|1.0043469874934305|  null|       null|         null|        null|   null|  null|           null|                 null|                null| 60.69955682475709|
|    min|Female |                17|                 1|  Home|         No|           No|         Car|     No|    No|             No|                   No|                  No|               140|
|    max|  Male |                25|                 4|Hostel|        Yes|          Yes|          No|    Yes|   Yes|            Yes|                  Yes|                 Yes|               350|
+-------+-------+------------------+------------------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+------------------+

In [ ]:
# updating the name of Monthly_expenses_$ to Monthly_expenses
spark_df = spark_df.withColumn('Monthly_expenses', spark_df['Monthly_expenses_$'])
spark_df = spark_df.drop("Monthly_expenses_$")
spark_df.show()

+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+----------------+
| Gender|Age|Study_year|Living|Scholarship|Part_time_job|Transporting|Smoking|Drinks|Games_&_Hobbies|Cosmetics_&_Self-care|Monthly_Subscription|Monthly_expenses|
+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+----------------+
|Female | 21|         2|  Home|         No|           No|          No|     No|    No|             No|                  Yes|                  No|             150|
|  Male | 25|         3|Hostel|         No|          Yes|  Motorcycle|     No|    No|            Yes|                  Yes|                 Yes|             220|
|  Male | 23|         2|  Home|        Yes|           No|          No|     No|    No|             No|                   No|                null|             180|
|  Male | 19|         3|Hostel|         No|           No|  Motorcycle|     No|    No|            Yes|                  Yes|                 Yes|             200|
|Female | 19|         2|  Home|         No|           No|  Motorcycle|     No|    No|             No|                  Yes|                  No|             300|
|  Male | 22|         3|Hostel|         No|          Yes|         Car|   null|   Yes|            Yes|                   No|                  No|             150|
|Female | 21|         2|  Home|        Yes|           No|          No|     No|    No|            Yes|                   No|                 Yes|             200|
|  Male | 22|         3|Hostel|         No|          Yes|  Motorcycle|    Yes|    No|            Yes|                 null|                 Yes|             200|
|Female | 18|         1|  Home|        Yes|           No|          No|     No|    No|             No|                  Yes|                 Yes|             150|
|  Male | 19|         1|  Home|         No|           No|          No|   null|    No|            Yes|                  Yes|                null|             160|
|  Male | 22|         3|  Home|         No|           No|         Car|     No|    No|             No|                  Yes|                 Yes|             350|
|  Male | 18|         2|Hostel|         No|           No|  Motorcycle|     No|    No|            Yes|                   No|                  No|             180|
|Female | 18|         2|  Home|         No|           No|          No|     No|    No|            Yes|                  Yes|                  No|             140|
|  Male | 19|         2|  Home|         No|          Yes|        null|    Yes|  null|            Yes|                 null|                  No|            null|
|Female | 22|         4|Hostel|        Yes|          Yes|         Car|     No|    No|             No|                  Yes|                 Yes|             300|
|  Male | 22|         4|  Home|         No|           No|         Car|     No|    No|            Yes|                   No|                  No|             250|
|Female | 17|         1|  Home|         No|           No|         Car|     No|    No|             No|                   No|                  No|             250|
|Female | 19|         2|Hostel|         No|         null|        null|     No|    No|            Yes|                  Yes|                  No|             150|
|Female | 23|         4|  Home|         No|           No|          No|     No|  null|            Yes|                  Yes|                 Yes|             150|
|Female | 19|         3|  Home|         No|           No|  Motorcycle|     No|    No|            Yes|                  Yes|                 Yes|             200|
+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+----------------+
only showing top 20 rows

In [ ]:
# Fetching students who spend more than 250 monthly
spark_df.filter("Monthly_expenses > 250").show()

+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+----------------+
| Gender|Age|Study_year|Living|Scholarship|Part_time_job|Transporting|Smoking|Drinks|Games_&_Hobbies|Cosmetics_&_Self-care|Monthly_Subscription|Monthly_expenses|
+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+----------------+
|Female | 19|         2|  Home|         No|           No|  Motorcycle|     No|    No|             No|                  Yes|                  No|             300|
|  Male | 22|         3|  Home|         No|           No|         Car|     No|    No|             No|                  Yes|                 Yes|             350|
|Female | 22|         4|Hostel|        Yes|          Yes|         Car|     No|    No|             No|                  Yes|                 Yes|             300|
|  Male | 19|         2|Hostel|         No|          Yes|         Car|   null|    No|            Yes|                 null|                 Yes|             300|
|  Male | 22|         4|  Home|        Yes|           No|          No|    Yes|   Yes|            Yes|                   No|                 Yes|             300|
|  Male | 23|         4|  Home|         No|         null|         Car|    Yes|    No|            Yes|                 null|                  No|             350|
|Female | 21|         4|  Home|         No|          Yes|  Motorcycle|   null|    No|             No|                  Yes|                null|             300|
|Female | 18|         2|  Home|         No|           No|         Car|    Yes|    No|            Yes|                  Yes|                  No|             300|
|Female | 22|         4|Hostel|        Yes|          Yes|        null|     No|    No|             No|                 null|                null|             280|
|  Male | 22|         3|  Home|         No|           No|         Car|     No|    No|             No|                  Yes|                 Yes|             350|
|Female | 22|         4|Hostel|        Yes|          Yes|         Car|     No|    No|             No|                  Yes|                 Yes|             300|
|  Male | 22|         4|  Home|        Yes|           No|  Motorcycle|    Yes|   Yes|            Yes|                   No|                 Yes|             300|
|Female | 21|         4|  Home|         No|          Yes|  Motorcycle|   null|    No|             No|                  Yes|                null|             300|
|Female | 18|         2|  Home|         No|           No|         Car|    Yes|    No|            Yes|                  Yes|                  No|             300|
|Female | 22|         4|Hostel|        Yes|          Yes|        null|     No|    No|             No|                 null|                null|             280|
|  Male | 22|         3|  Home|         No|           No|         Car|     No|    No|             No|                  Yes|                 Yes|             350|
|Female | 22|         4|Hostel|        Yes|          Yes|         Car|     No|    No|             No|                  Yes|                 Yes|             300|
|Female | 19|         2|  Home|         No|           No|  Motorcycle|     No|    No|             No|                  Yes|                  No|             300|
|  Male | 22|         3|  Home|         No|           No|         Car|     No|    No|             No|                  Yes|                 Yes|             350|
|Female | 22|         4|Hostel|        Yes|          Yes|         Car|     No|    No|             No|                  Yes|                 Yes|             300|
+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+----------------+
only showing top 20 rows

In [ ]:
# another way to write above filter condition, which yelds the same result
spark_df.filter(spark_df['Monthly_expenses'] > 250).show()

+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+----------------+
| Gender|Age|Study_year|Living|Scholarship|Part_time_job|Transporting|Smoking|Drinks|Games_&_Hobbies|Cosmetics_&_Self-care|Monthly_Subscription|Monthly_expenses|
+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+----------------+
|Female | 19|         2|  Home|         No|           No|  Motorcycle|     No|    No|             No|                  Yes|                  No|             300|
|  Male | 22|         3|  Home|         No|           No|         Car|     No|    No|             No|                  Yes|                 Yes|             350|
|Female | 22|         4|Hostel|        Yes|          Yes|         Car|     No|    No|             No|                  Yes|                 Yes|             300|
|  Male | 19|         2|Hostel|         No|          Yes|         Car|   null|    No|            Yes|                 null|                 Yes|             300|
|  Male | 22|         4|  Home|        Yes|           No|          No|    Yes|   Yes|            Yes|                   No|                 Yes|             300|
|  Male | 23|         4|  Home|         No|         null|         Car|    Yes|    No|            Yes|                 null|                  No|             350|
|Female | 21|         4|  Home|         No|          Yes|  Motorcycle|   null|    No|             No|                  Yes|                null|             300|
|Female | 18|         2|  Home|         No|           No|         Car|    Yes|    No|            Yes|                  Yes|                  No|             300|
|Female | 22|         4|Hostel|        Yes|          Yes|        null|     No|    No|             No|                 null|                null|             280|
|  Male | 22|         3|  Home|         No|           No|         Car|     No|    No|             No|                  Yes|                 Yes|             350|
|Female | 22|         4|Hostel|        Yes|          Yes|         Car|     No|    No|             No|                  Yes|                 Yes|             300|
|  Male | 22|         4|  Home|        Yes|           No|  Motorcycle|    Yes|   Yes|            Yes|                   No|                 Yes|             300|
|Female | 21|         4|  Home|         No|          Yes|  Motorcycle|   null|    No|             No|                  Yes|                null|             300|
|Female | 18|         2|  Home|         No|           No|         Car|    Yes|    No|            Yes|                  Yes|                  No|             300|
|Female | 22|         4|Hostel|        Yes|          Yes|        null|     No|    No|             No|                 null|                null|             280|
|  Male | 22|         3|  Home|         No|           No|         Car|     No|    No|             No|                  Yes|                 Yes|             350|
|Female | 22|         4|Hostel|        Yes|          Yes|         Car|     No|    No|             No|                  Yes|                 Yes|             300|
|Female | 19|         2|  Home|         No|           No|  Motorcycle|     No|    No|             No|                  Yes|                  No|             300|
|  Male | 22|         3|  Home|         No|           No|         Car|     No|    No|             No|                  Yes|                 Yes|             350|
|Female | 22|         4|Hostel|        Yes|          Yes|         Car|     No|    No|             No|                  Yes|                 Yes|             300|
+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+----------------+
only showing top 20 rows

In [ ]:
# Filtering with mutliple conditions, 
# for example - 
# boys who spend more than 250 per month and are under 20 years old

spark_df.filter( 
    (spark_df['Gender'] == "Male ") & 
    (spark_df['Monthly_expenses'] > 250) & 
    (spark_df['Age'] <= 20)
     ).show()

+------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+----------------+
|Gender|Age|Study_year|Living|Scholarship|Part_time_job|Transporting|Smoking|Drinks|Games_&_Hobbies|Cosmetics_&_Self-care|Monthly_Subscription|Monthly_expenses|
+------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+----------------+
| Male | 19|         2|Hostel|         No|          Yes|         Car|   null|    No|            Yes|                 null|                 Yes|             300|
+------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+----------------+