# Grouping and Aggregation Operations
<hr>

In [ ]:
# Installation of PySpark package
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 45 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 50.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=a60e47212c160e13881543edf2e06f314adf92b92ffd4fa66c43073c796e2a47
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
# Creation of Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Grouping Operation").getOrCreate()
spark

In [ ]:
# Reading Dataset
spark_df = spark.read.csv("dataset.csv", header=True, inferSchema=True)
spark_df.show()

+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+------------------+
| Gender|Age|Study_year|Living|Scholarship|Part_time_job|Transporting|Smoking|Drinks|Games_&_Hobbies|Cosmetics_&_Self-care|Monthly_Subscription|Monthly_expenses_$|
+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+------------------+
|Female | 21|         2|  Home|         No|           No|          No|     No|    No|             No|                  Yes|                  No|               150|
|  Male | 25|         3|Hostel|         No|          Yes|  Motorcycle|     No|    No|            Yes|                  Yes|                 Yes|               220|
|  Male | 23|         2|  Home|        Yes|           No|          No|     No|    No|             No|                   No|                null|               180|
|  Male | 19|         3|Hostel|         No|           No|  Motorcycle|     No|    No|            Yes|                  Yes|                 Yes|               200|
|Female | 19|         2|  Home|         No|           No|  Motorcycle|     No|    No|             No|                  Yes|                  No|               300|
|  Male | 22|         3|Hostel|         No|          Yes|         Car|   null|   Yes|            Yes|                   No|                  No|               150|
|Female | 21|         2|  Home|        Yes|           No|          No|     No|    No|            Yes|                   No|                 Yes|               200|
|  Male | 22|         3|Hostel|         No|          Yes|  Motorcycle|    Yes|    No|            Yes|                 null|                 Yes|               200|
|Female | 18|         1|  Home|        Yes|           No|          No|     No|    No|             No|                  Yes|                 Yes|               150|
|  Male | 19|         1|  Home|         No|           No|          No|   null|    No|            Yes|                  Yes|                null|               160|
|  Male | 22|         3|  Home|         No|           No|         Car|     No|    No|             No|                  Yes|                 Yes|               350|
|  Male | 18|         2|Hostel|         No|           No|  Motorcycle|     No|    No|            Yes|                   No|                  No|               180|
|Female | 18|         2|  Home|         No|           No|          No|     No|    No|            Yes|                  Yes|                  No|               140|
|  Male | 19|         2|  Home|         No|          Yes|        null|    Yes|  null|            Yes|                 null|                  No|              null|
|Female | 22|         4|Hostel|        Yes|          Yes|         Car|     No|    No|             No|                  Yes|                 Yes|               300|
|  Male | 22|         4|  Home|         No|           No|         Car|     No|    No|            Yes|                   No|                  No|               250|
|Female | 17|         1|  Home|         No|           No|         Car|     No|    No|             No|                   No|                  No|               250|
|Female | 19|         2|Hostel|         No|         null|        null|     No|    No|            Yes|                  Yes|                  No|               150|
|Female | 23|         4|  Home|         No|           No|          No|     No|  null|            Yes|                  Yes|                 Yes|               150|
|Female | 19|         3|  Home|         No|           No|  Motorcycle|     No|    No|            Yes|                  Yes|                 Yes|               200|
+-------+---+----------+------+-----------+-------------+------------+-------+------+---------------+---------------------+--------------------+------------------+
only showing top 20 rows

In [ ]:
# Grouping by data according to gender
spark_df.groupBy("Gender")

In [ ]:
# Grouping and aggregation goes hand in hand
# Calculating max Age present in each gender
spark_df.groupBy("Gender").max("Age").show()

+-------+--------+
| Gender|max(Age)|
+-------+--------+
|Female |      23|
|  Male |      25|
+-------+--------+

In [ ]:
# Calculating average expenses in each gender
spark_df.groupBy("Gender").avg("Monthly_expenses_$").show()

+-------+-----------------------+
| Gender|avg(Monthly_expenses_$)|
+-------+-----------------------+
|Female |     213.13725490196077|
|  Male |                216.875|
+-------+-----------------------+

In [ ]:
# Calculating the count of part time jobs done by each gender
spark_df.groupBy(["Gender", "Part_time_job"]).count().show()

+-------+-------------+-----+
| Gender|Part_time_job|count|
+-------+-------------+-----+
|Female |         null|    4|
|  Male |           No|   34|
|  Male |          Yes|   17|
|Female |           No|   35|
|Female |          Yes|   14|
|  Male |         null|    1|
+-------+-------------+-----+